<div class="cards">
	<div class="card">
		<h2>Lead UI</h2>
		<a href="http://ascc.me">ascc.me</a>
		<p>
		Conceptualize, design, and prototype new features on dashboard and systems interfaces. Inject design in Front-End.
		</p>
		<div class="card-tags-box"></div>
	</div>
	<div class="card">
		<h2>Web UI Developer</h2>
		<a href="http://ascc.me">ascc.me</a>
		<p>
		Conceptualize, design, and prototype new features on dashboard and systems interfaces. Inject design in Front-End.
		</p>
		<div class="card-tags-box"></div>
	</div>
	<div class="card">
		<h2>Frontend Developer</h2>
		<a href="http://ascc.me">ascc.me</a>
		<p>
		Conceptualize, design, and prototype new features on dashboard and systems interfaces. Inject design in Front-End.
		</p>
		<div class="card-tags-box"></div>
	</div>
	<div class="card">
		<h2>Lead  Web Designer</h2>
		<a href="http://ascc.me">ascc.me</a>
		<p>
		Conceptualize, design, and prototype new features on dashboard and systems interfaces. Inject design in Front-End.
		</p>
		<div class="card-tags-box"></div>
	</div>
	<div class="card">
		<h2>Web Designer Jr.</h2>
		<a href="http://ascc.me">ascc.me</a>
		<p>
		Conceptualize, design, and prototype new features on dashboard and systems interfaces. Inject design in Front-End.
		</p>
		<div class="card-tags-box"></div>
	</div>
</div>