---
layout: default
---
{% include header.html %}

{% if showHeader == true %}
{{content}}
<div class="home-profile">
		<div class="home-description">
				<h1 class="title">{{ site.name }}</h1>
				<h2 class="description">{{ site.bio }}</h2>
		</div>
		<a class="link selfie-home" href="{{ site.url }}/about" style="background-image: url('{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}')"></a>

				{% include mobile-social-links.html %}
</div>

{% else %}
{% include nav.html %}
{{content}}
{% endif %}
